Repository InailUfficio5/inail-ndc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ttlfmt, check-json-ld, pretty-format-json-ld, csvseparator

ttlfmt:
  name: Serialize turtle files
  entry: ttlfmt
  language: python
  additional_dependencies:
  - rdflib
  - ttlser
  - ttlser[ttlfmt]

check-json-ld:
  name: check json-ld
  entry: python scripts/check_json.py
  language: python
  additional_dependencies:
  - typing

pretty-format-json-ld:
  name: pretty format json-ld
  entry: python scripts/pretty_format_json.py
  args:
  - --autofix
  - --no-sort-keys
  language: python
  additional_dependencies:
  - typing

csvseparator:
  name: Check csv separator
  entry: python scripts/fix-csv-separator.py
  language: python
  additional_dependencies:
  - pandas

update pubbliccode.yaml
  README.md
  publiccode.yaml
Due: none

update vocabularies
  assets/controlled-vocabularies/gestione-assicurativa/gestione_assicurativa.csv
  assets/controlled-vocabularies/gestione-assicurativa/gestione_assicurativa.json
  assets/controlled-vocabularies/gestione-assicurativa/gestione_assicurativa.ttl
  assets/controlled-vocabularies/gestione-contabile/gestione_contabile.csv
  assets/controlled-vocabularies/gestione-contabile/gestione_contabile.json
  assets/controlled-vocabularies/gestione-contabile/gestione_contabile.ttl
  assets/controlled-vocabularies/settore-attivita/settore_attivita.csv
  assets/controlled-vocabularies/settore-attivita/settore_attivita.json
  assets/controlled-vocabularies/settore-attivita/settore_attivita.ttl
  assets/controlled-vocabularies/tipo-indennizzo/tipo_indennizzo.csv
  assets/controlled-vocabularies/tipo-indennizzo/tipo_indennizzo.json
  assets/controlled-vocabularies/tipo-indennizzo/tipo_indennizzo.ttl
Due: ttlfmt, csvseparator

update schemas
  assets/schemas/inabilita-temporanea/inabilita-temporanea.oas3.yaml
  assets/schemas/indennizzo/indennizzo.oas3.yaml
  assets/schemas/infortunato/infortunato.oas3.yaml
  assets/schemas/infortunio/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/malattia-professionale.oas3.yaml
  assets/schemas/prestazione-economica/prestazione-economica.oas3.yaml
  assets/schemas/riapertura-trattazione/riapertura-trattazione.oas3.yaml
  assets/schemas/tecnopatico/tecnopatico.oas3.yaml
  assets/schemas/tipo-indennizzo/tipo-indennizzo.oas3.yaml
  assets/schemas/trattazione/trattazione.oas3.yaml
Due: none

update schemas
  assets/schemas/indennizzo/indennizzo.oas3.yaml
  assets/schemas/infortunato/infortunato.oas3.yaml
  assets/schemas/infortunio/infortunio.oas3.yaml
  assets/schemas/riapertura-trattazione/riapertura-trattazione.oas3.yaml
  assets/schemas/tecnopatico/tecnopatico.oas3.yaml
  assets/schemas/tipo-indennizzo/tipo-indennizzo.oas3.yaml
  assets/schemas/trattazione/trattazione.oas3.yaml
Due: none

update schemas and .pre-commit-config.yaml
  .pre-commit-config.yaml
  assets/schemas/esito-definizione/esito-definizione.oas3.yaml
  assets/schemas/inabilita-temporanea/inabilita-temporanea.oas3.yaml
  assets/schemas/indennizzo/indennizzo.oas3.yaml
  assets/schemas/infortunato/infortunato.oas3.yaml
  assets/schemas/infortunio/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/malattia-professionale.oas3.yaml
  assets/schemas/prestazione-economica/prestazione-economica.oas3.yaml
  assets/schemas/riapertura-trattazione/riapertura-trattazione.oas3.yaml
  assets/schemas/tecnopatico/tecnopatico.oas3.yaml
  assets/schemas/tipo-indennizzo/tipo-indennizzo.oas3.yaml
  assets/schemas/tipo-trattazione/tipo-trattazione.oas3.yaml
  assets/schemas/trattazione/trattazione.oas3.yaml
Due: none

update schemas: change Azienda in Soggetto Assicurante
  assets/schemas/infortunio/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/malattia-professionale.oas3.yaml
Due: none

Delete infortunio.oas3.yaml
  assets/schemas/infortunio/infortunio.oas3.yaml
Due: none

Add files via upload
  assets/schemas/malattia-professionale/malattia-professionale.oas3.yaml
Due: none

Add files via upload
  assets/schemas/infortunio/infortunio.oas3.yaml
Due: none

update workflows
  .github/workflows/cd.yaml
  .github/workflows/main.yaml
  .pre-commit-config.yaml
Due: none

update CD workflow
  .github/workflows/cd.yaml
Due: none

update ontologies
  assets/ontologies/autoliquidazione/autoliquidazione.ttl
  assets/ontologies/core/core.ttl
  assets/ontologies/mp-inf/v1.0/MP_INF.ttl
  assets/ontologies/mp-inf/v1.5/MP_INF.ttl
  assets/ontologies/mp-inf/v1.6/MP_INF.ttl
  assets/ontologies/prestazioni/prestazioni_amministrative.ttl
Due: ttlfmt

update schemas
  assets/schemas/esito-definizione/esito-definizione.oas3.yaml
  assets/schemas/inabilita-temporanea/inabilita-temporanea.oas3.yaml
  assets/schemas/indennizzo/indennizzo.oas3.yaml
  assets/schemas/infortunato/infortunato.oas3.yaml
  assets/schemas/infortunio/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/malattia-professionale.oas3.yaml
  assets/schemas/prestazione-economica/prestazione-economica.oas3.yaml
  assets/schemas/riapertura-trattazione/riapertura-trattazione.oas3.yaml
  assets/schemas/tecnopatico/tecnopatico.oas3.yaml
  assets/schemas/tipo-indennizzo/tipo-indennizzo.oas3.yaml
  assets/schemas/tipo-trattazione/tipo-trattazione.oas3.yaml
  assets/schemas/trattazione/trattazione.oas3.yaml
Due: none

update core ontology
  assets/ontologies/core/core.ttl
Due: ttlfmt

added latest version of autoliquidazione ontology
  .pre-commit-config.yaml
  assets/ontologies/autoliquidazione/latest/autoliquidazione.ttl
  assets/ontologies/autoliquidazione/v1.7/autoliquidazione.ttl
Due: ttlfmt

added latest version of ontologies (uri modified)
  assets/ontologies/autoliquidazione/v1.8/autoliquidazione.ttl
  assets/ontologies/core/latest/core.ttl
  assets/ontologies/core/v1.7/core.ttl
  assets/ontologies/core/v1.8/core.ttl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.ttl
  assets/ontologies/prestazioni/v1.7/prestazioni_amministrative.ttl
  assets/ontologies/prestazioni/v1.8/prestazioni_amministrative.ttl
Due: ttlfmt

added latest version of agente causale vocabulary
  assets/controlled-vocabularies/agente-causale/v0.4/agente_causale.ttl
  assets/controlled-vocabularies/agente-causale/v0.5/agente_causale.ttl
Due: ttlfmt

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/agente-causale/v0.4/agente_causale.csv
  assets/controlled-vocabularies/agente-causale/v0.4/agente_causale.json
  assets/controlled-vocabularies/agente-causale/v0.5/agente_causale.csv
  assets/controlled-vocabularies/agente-causale/v0.5/agente_causale.json
Due: csvseparator

added latest version of agente materiale vocabulary
  assets/controlled-vocabularies/agente-materiale/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/agente_materiale.json
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.ttl
  assets/controlled-vocabularies/agente-materiale/v0.3/agente_materiale.ttl
  assets/controlled-vocabularies/agente-materiale/v0.4/agente_materiale.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.json
  assets/controlled-vocabularies/agente-materiale/v0.3/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/v0.3/agente_materiale.json
  assets/controlled-vocabularies/agente-materiale/v0.4/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/v0.4/agente_materiale.json
Due: csvseparator

added latest version of classe menomazione and classificazione cause esterne vocabularies
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.ttl
  assets/controlled-vocabularies/agente-materiale/v0.4/agente_materiale.ttl
  assets/controlled-vocabularies/classe-menomazione/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/classe_menomazione.json
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.ttl
  assets/controlled-vocabularies/classe-menomazione/v0.3/classe_menomazione.ttl
  assets/controlled-vocabularies/classe-menomazione/v0.4/classe_menomazione.ttl
  assets/controlled-vocabularies/classificazione-cause-esterne/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/classificazione_cause_esterne.json
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.ttl
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.3/classificazione_cause_esterne.ttl
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.4/classificazione_cause_esterne.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.json
  assets/controlled-vocabularies/agente-materiale/v0.4/agente_materiale.json
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.json
  assets/controlled-vocabularies/classe-menomazione/v0.3/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/v0.3/classe_menomazione.json
  assets/controlled-vocabularies/classe-menomazione/v0.4/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/v0.4/classe_menomazione.json
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.json
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.3/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.3/classificazione_cause_esterne.json
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.4/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.4/classificazione_cause_esterne.json
Due: csvseparator

added latest version of decisione istruttoria esito and definizione amministrativa vocabularies
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.3/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/definizione-amministrativa/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.ttl
  assets/controlled-vocabularies/definizione-amministrativa/v0.3/definizione_amministrativa.ttl
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.3/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.3/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.3/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/v0.3/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.json
Due: csvseparator

added latest version of grado inabilita and grande gruppo tariffario vocabularies
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.ttl
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.ttl
  assets/controlled-vocabularies/grado-inabilita/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.ttl
  assets/controlled-vocabularies/grado-inabilita/v0.3/grado_inabilita.ttl
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.3/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.json
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.3/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/v0.3/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.3/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.3/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.json
Due: csvseparator

added latest version of icdx vocabulary
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.ttl
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.ttl
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.3/icdx.ttl
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.3/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.3/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.json
Due: csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.json
  assets/controlled-vocabularies/mansione/latest/mansione.csv
  assets/controlled-vocabularies/mansione/latest/mansione.json
  assets/controlled-vocabularies/mansione/v0.4/mansione.csv
  assets/controlled-vocabularies/mansione/v0.4/mansione.json
Due: csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/natura-lesione/latest/natura_lesione.csv
  assets/controlled-vocabularies/natura-lesione/latest/natura_lesione.json
  assets/controlled-vocabularies/natura-lesione/v0.4/natura_lesione.csv
  assets/controlled-vocabularies/natura-lesione/v0.4/natura_lesione.json
Due: csvseparator

added latest version of grande gruppo tariffario vocabulary
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.3/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.3/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.3/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.4/grande_gruppo_tariffario.json
Due: csvseparator

Path conditions:
  ttlfmt: any of: ^assets/.*\.ttl
  check-json-ld: any of: ^assets\/controlled-vocabularies\/.*\.jsonld
  pretty-format-json-ld: any of: ^assets\/controlled-vocabularies\/.*\.jsonld
  csvseparator: any of: ^assets\/controlled-vocabularies\/.*\.csv
